/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.file-directory {
  padding-left: 10px;
}

.folder-item,
.file-item {
  margin: 5px 0;
  cursor: pointer;
}
.folder-contents {
  padding-left: 20px;
}
